{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    {{ form.media }}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
    <div class='col-sm-2'>
        <form method="post" role="form">
            {% for field in form.visible_fields %}
                <div id="div_{{ field.html_name }}"
                     class="form-group{% if field.errors %} has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-muted pull-right">
                        <small>{{ field.help_text }}</small>
                    </div>
                    <div class="help-block">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
{% endblock %}
{% block scripts %}

    <script>
        $(document).ready(function() {
            console.log('asd');
        });
    </script>
{% endblock %}
