{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col-xs-12 col-md-8">
        <a class="btn btn-primary" href="{% url 'add_meeting' %}">
            <i class="fa fa-plus"></i> Dodaj spotkanie
        </a>
        <table class="table table-bordered">
            <tr>
                <td>Kod</td>
                <td>Data</td>
                <td>Godzina</td>
                <td>Akcje</td>
            </tr>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.code }}</td>
                    <td>{{ obj.date|date:'d.m.Y' }}</td>
                    <td>{{ obj.date|time:'G:i' }}</td>
                    <td>
                        <a href="{% url 'meeting_detail' obj.pk %}">
                        <i class="fa fa-eye" aria-hidden="true" value="Szczegóły"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}